/bootstrap/compiled.php

/vendor
composer.phar
composer.lock

.env.local.php
.env.php

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
.dropbox

node_modules/
public/bower_components/
